<%= form_for ([ @course, @course_event, @course_day ]) do |f| %>
  <% if @course_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_day.errors.count, "error") %> prohibited this course_day from being saved:</h2>

      <ul>
      <% @course_day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="col-sm-6">
      <div class="form-group">
        <%= f.label :date %>
        <%= f.date_select :date, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :time_begin %><br>
        <%= f.time_select :time_begin, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :time_end %><br>
        <%= f.time_select :time_end, :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.submit :class => 'btn btn-success' %>
      </div>

    </div>

<% end %>
