<%= form_for(@course_day) do |f| %>
  <% if @course_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_day.errors.count, "error") %> prohibited this course_day from being saved:</h2>

      <ul>
      <% @course_day.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course %><br>
    <%= f.text_field :course %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :time_begin %><br>
    <%= f.time_select :time_begin %>
  </div>
  <div class="field">
    <%= f.label :time_end %><br>
    <%= f.time_select :time_end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
