<% provide(:title, "Log in") %>

<h1>Log in</h1>

<%= form_for(:session, url: '/session') do |f| %>

<div class="col-sm-6">
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br>
    <%= f.password_field :password, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit "Log in", :class => 'btn btn-success' %>
  </div>

</div>

<% end %>

<div class="col-sm-6">
    <p>New user?</p>
    <p><%= link_to "Sign up now!", new_user_path %></p>
</div>

