<h1>User#update</h1>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>

   <p>
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </p>

  <%= f.label :password_confirmation %><br>
  <%= f.text_field :password_confirmation %>

  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>

  <p>
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </p>

  <p>
    <%= f.label :photo %> <br/>
    <%= f.file_field :photo %>
  </p> 

  <%= f.label "Groups" %> <br/> 
  <% @groups.each do |group| %>

    <p>
<input value="<%= group.id.to_s %>" name="user[groups][]" id="user_groups_group<%= group.id.to_s %>" type="checkbox" <% if @user.group_ids.include? group.id %> checked="checked" <% end %> ><%= group.name %>
    </p>
  <% end %>

  <p>
    <%= f.submit :class => 'btn btn-default' %>
  </p>
<% end %>
