<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<p>
  <strong>Photo:</strong><br/>
  <%= image_tag @user.photo.url(:large) %>
  <br/>
</p>

<strong>Groups:</strong><br/>
	<% @user.groups.each do |group| %>
	<p>
		<strong><%= group.name %></strong>
	</p>
<% end %>

<div>
	<%= link_to content_tag(:div, 'Edit', class: 'btn btn-primary'), edit_user_path(@user) %>
	<%= link_to content_tag(:div, 'Back', class: 'btn btn-primary'), users_path %>
</div>
</div>