<p id="notice"><%= notice %></p>

<h1>Course Event details</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @course.name %></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-6">
        <% if !@course.photo.nil? %>
            <%= image_tag @course.photo.url(:large), :size => '500x500' %>
        <% end %>
      </div>
      <div class="col-sm-6">
        <%= @course.description %>


        <h5>
          <% if signed? %>
              You are signed up to this event!
          <% end %>
        </h5>

      </div>
    </div>
  </div>
</div>

<h3>Days</h3>

<div class="list-group">


  <% @course_event.course_days.each do |course_day| %>

    <span class="list-group-item">
      <%= course_day.date %>, <%= course_day.time_begin %> - <%= course_day.time_end %>

      <% if signedToCourse? and !signed? %>
        <a href="/courses/<%= @course.id %>/events/<%= @course_event.id %>/days/<%= course_day.id %>/sign">
          <span class="glyphicon glyphicon-ok"></span>
        </a>
      <% end %>

      <%= link_to edit_course_course_event_course_day_path(@course, @course_event, course_day) do %>
          <span class="glyphicon glyphicon-edit"></span>
      <% end %>

      <%= link_to [@course, @course_event, course_day], method: :delete, data: { confirm: 'Are you sure?' } do %>
          <span class="glyphicon glyphicon-remove"></span>
      <% end %>
    </span>
  <% end %>

  <%= link_to new_course_course_event_course_day_path(@course, @course_event), :class => 'list-group-item' do %>
      <span class="glyphicon glyphicon-plus">New Course Event Day</span>
  <% end %>
</div>

</div>

<h3>
  <%= link_to edit_course_course_event_path(@course, @course_event) do %>
      <span class="glyphicon glyphicon-edit">Edit Course Event</span>
  <% end %>
</h3>

<h3>
  <%= link_to course_course_event_path(@course, @course_event), method: :delete, data: { confirm: 'Are you sure?' }  do %>
      <span class="glyphicon glyphicon-remove">Delete Course Event</span>
  <% end %>
</h3>
