<h1>User#new</h1>
<%= form_for :user, url: '/user' do |f| %>
  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>

   <p>
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </p>

  <%= f.label :password_confirmation %><br>
  <%= f.text_field :password_confirmation %>

  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
