<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<h3>All available courses</h3>

<table id="courses-table">
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td>
          <%= link_to course do %>
            <%= image_tag course.photo.url(:small), :size => '100x100' %></td>
          <% end %>
        <td>
          <%= link_to course do %>
            <%= course.name %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h3>

  <%= link_to new_course_path do %>
      <span class="glyphicon glyphicon-plus">New Course</span>
  <% end %>
</h3>
