<p id="notice"><%= notice %></p>


<h1>
  <%= @course.name %>
</h1>

<p>
  <% if signed? %>
    You are signed up!
  <% else %>
    You are not signed up to this course.
    <a href="/courses/<%= @course.id %>/sign">Sign up!</a>
  <% end %>

</p>


<% if !@course.photo.nil? %>
<p>
  <%= image_tag @course.photo.url(:large) %>
</p>
<% end %>


<p>
  <%= @course.description %>
</p>

<p>
  <h3>Events:</h3>
<% if @course.course_events.blank? %>
    No course events.
    <% else %>
    <table>

      <tbody>
      <% @course.course_events.each do |course_event| %>
          <tr>
            <td width="50%"><%= link_to course_event.title, course_course_event_path(@course, course_event) %></td>
            <td width="25%"><%= link_to 'Edit', edit_course_course_event_path(@course, course_event) %></td>
            <td><%= link_to 'Destroy', course_course_event_path(@course, course_event), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
</p>

<%= link_to 'New Course event', new_course_course_event_path(@course) %><br>
<%= link_to 'Edit', edit_course_path(@course) %>