<!-- app/views/layouts/application.html.erb -->

<!DOCTYPE html>
<html>
  <head>
     <title>IOSportClub</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="main-container" class="container">
      <%= render 'shared/navigation' %>
      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>

</html>